<!DOCTYPE html>
<html lang = "ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<head>
    <title>Анализатор страниц - список ссылок</title>
</head>

<section layout:fragment="content">
    <div class="container-lg mt-5">
        <h1>Сайты</h1>

        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th class="col-1">ID</th>
                <th>Имя</th>
                <th class="col-2">Последняя проверка</th>
                <th class="col-1">Код ответа</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="url : ${urls}" th:object="${url}">
                <td th:text ="*{getId()}"></td>
                <td>
                    <a th:href="@{/urls/{id}(id=*{getId()})}" th:text="*{getName()}"></a>
                </td>
                <td th:text ="*{getUrlChecks().isEmpty()? '' : #temporals.format(getUrlChecks().get(getUrlChecks().size() - 1).getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text ="*{getUrlChecks().isEmpty()? '' : getUrlChecks().get(getUrlChecks().size() - 1).getStatusCode()}"></td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation" th:if="${#lists.size(pages)}">
            <ul class="pagination justify-content-center mt-5">
                <li th:class="'page-item' + ${currentPage <= 1 ? ' disabled' : ''}">
                    <a class="page-link" th:href="@{/urls(page=${currentPage - 1},term=${term})}">Previous</a>
                </li>
                <li th:each="page : ${pages}" th:class="'page-item' + ${currentPage == page ? ' active' : ''}">
                    <a class="page-link" th:href="@{/urls(page=${page},term=${term})}" th:text="${page}"></a>
                </li>
                <li th:class="'page-item' + ${currentPage >= #lists.size(pages) ? ' disabled' : ''}">
                    <a class="page-link" th:href="@{/urls(page=${currentPage + 1},)}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{layouts/application.html}">-->

<!--<section layout:fragment="header">-->
<!--    Статьи-->
<!--</section>-->

<!--<section layout:fragment="content">-->
<!--    <a class="btn btn-primary mb-5" href="/urls/new">Создать статью</a>-->
<!--    <form action="/urls" method="get">-->
<!--        <div class="input-group">-->
<!--            <input type="search" class="form-control rounded" name="term" th:value="${term}" placeholder="Search by article name" />-->
<!--            <button type="submit" class="btn btn-outline-primary">Search</button>-->
<!--        </div>-->
<!--    </form>-->

<!--    <table class="table table-striped mt-5">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th class="col-1">ID</th>-->
<!--            <th class="col-3">Название</th>-->
<!--            <th>Описание</th>-->
<!--            <th class="col-2">Дата создания</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="url : ${urls}" th:object="${url}">-->
<!--            <td th:text="*{getId()}"></td>-->
<!--            <td>-->
<!--                <a th:href="@{/urls/{id}(id=*{getId()})}" th:text="${#strings.abbreviate(url.getName(), 30)}"></a>-->
<!--            </td>-->
<!--&lt;!&ndash;            <td th:text="${#strings.abbreviate(url.getDescription(), 60)}"></td>&ndash;&gt;-->
<!--            <td th:text="${#temporals.format(url.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--    <nav aria-label="Page navigation" th:if="${#lists.size(pages)}">-->
<!--        <ul class="pagination justify-content-center mt-5">-->
<!--            <li th:class="'page-item' + ${currentPage <= 1 ? ' disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{/urls(page=${currentPage - 1},term=${term})}">Previous</a>-->
<!--            </li>-->
<!--            <li th:each="page : ${pages}" th:class="'page-item' + ${currentPage == page ? ' active' : ''}">-->
<!--                <a class="page-link" th:href="@{/urls(page=${page},term=${term})}" th:text="${page}"></a>-->
<!--            </li>-->
<!--            <li th:class="'page-item' + ${currentPage >= #lists.size(pages) ? ' disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{/urls(page=${currentPage + 1},)}">Next</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</section>-->

<!--</html>-->